{% extends 'base_hero.html.twig' %}

{% block title %}Missions terminées{% endblock %}

{% block body %}
<section class="container mx-auto px-8 bg-white overflow-hidden bg-white shadow sm:rounded-lg  h-full">
        <div class="py-5">
            <h3 class="text-lg font-medium leading-6 text-gray-900"> Missions terminées </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">Lorem ipsus</p>
        </div>
        <div class="border-t border-gray-200">
        {% if completed is empty %}
            <div class="px-4 py-5 sm:px-6">
                <p class="text-sm text-gray-500">Vous n'avez aucune mission terminée.</p>
            </div>
        {% else %}
        <div class="relative overflow-x-auto">
            <table class="table-auto min-w-full">
                <thead class="border-b">
                    <tr>
                    <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                    <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Nom</th>
                    <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Auteur</th>
                    <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Statut</th>
                    <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Date de fin</th>
                    <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cmp in completed %}
                    <tr>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ cmp.missiontype.name }}</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ cmp.name }}</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ cmp.user.firstname }} {{ cmp.user.lastname }}</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ cmp.status }}</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ cmp.dateend|date('d-m-Y') }}</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><a href="{{ path('hero_show_mission', {'id': cmp.id}) }}">Voir</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
</section>
{% endblock %}