{% extends 'base_hero.html.twig' %}

{% block title %}{{ hero.name }} - Missions{% endblock %}

{% block body %}
<main class="container mx-auto">
<h1 class="text-3xl font-bold tracking-tight text-gray-900"> Liste des missions </h1>

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg" id="inprogress-tab" data-tabs-target="#inprogress" type="button" role="tab" aria-controls="inprogress" aria-selected="false">Mission en cours</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="pending-tab" data-tabs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="false">Missions en attente</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="completed-tab" data-tabs-target="#completed" type="button" role="tab" aria-controls="completed" aria-selected="false">Missions terminées</button>
        </li>
    </ul>
</div>
<div id="myTabContent">
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="inprogress" role="tabpanel" aria-labelledby="inprogress-tab">
        <section class="container mx-auto">
            {% if in_progress is not empty %}
            {% for pgs in in_progress %}
            <div class="overflow-hidden bg-white shadow sm:rounded-lg ">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">{{ pgs.name }} </h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ pgs.missiontype.name }}</p>
                </div>
                <div class="border-t border-gray-200">
                    <dl>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Demandé par</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ pgs.user.firstname }} {{ pgs.user.lastname }}</dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Description</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ pgs.description }}</dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Emplacement</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ pgs.location }}</dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Résultat attendu</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{ pgs.result }}</dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><a class="px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm" href="{{ path('hero_update_mission', {'id': pgs.id}) }}">Mettre à jour</a></dd>
                        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><a class="px-4 py-2 font-semibold text-sm bg-red-500 text-white rounded-full shadow-sm" href="#">Voir l'historique</a></dd>
                    </div>
                    </dl>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p> Vous n'avez pas de mission en cours. </p>
            {% endif %}
        </section>
    </div>
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="pending" role="tabpanel" aria-labelledby="pending-tab">
        <section>
            {% if assigned is not empty %}
            {% for asg in assigned %}
                <article>
                <i> {{ asg.missiontype.name }} </i>
                <h3> {{ asg.name }} </h3>
                <p> {{ asg.description }} </p>
                <a href="{{ path('hero_show_mission', {'id': asg.id}) }}">Voir</a>
                <button class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded-full"><a href="{{ path('hero_accept_mission', {'id': asg.id}) }}">Accepter</a></button>
                <a href="{{ path('hero_reject_mission', {'id': asg.id}) }}">Refuser</a>
                <br><br>
                </article>
            {% endfor %}
            {% else %}
                <p> Vous n'avez aucune mission en attente d'acceptation/refus. </p>
            {% endif %}
        </section>
    </div>
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="completed" role="tabpanel" aria-labelledby="completed-tab">
        <section class="container mx-auto px-8 bg-white rounded shadow-md h-full">
            <div>
                <table class="table-auto min-w-full">
                    <thead class="border-b">
                        <tr>
                        <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                        <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Nom</th>
                        <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Auteur</th>
                        <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Statut</th>
                        <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Date de fin</th>
                        <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cmp in completed %}
                        <tr>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ cmp.missiontype.name }}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ cmp.name }}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ cmp.user.firstname }} {{ cmp.user.lastname }}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ cmp.status }}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ cmp.dateend|date('d-m-Y') }}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><a href="{{ path('hero_show_mission', {'id': cmp.id}) }}">Voir</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

{% endblock %}



