<!DOCTYPE html>

<title>Missions</title>

{% block body %}
    <h1>Vos missions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Description</th>
                <th>Location</th>
                <th>Result</th>
                <th>Status</th>
                <th>Héro</th>
                <th>Crée à</th>
                <th>Modifié à</th>
                <th>Date de fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.name }}</td>
                <td>{{ mission.mission_type }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.location }}</td>
                <td>{{ mission.result }}</td>
                <td>{{ mission.status }}</td>
                <td>{{ mission.hero ? mission.hero : 'Pas de héro assigné' }}</td>
                <td>{{ mission.created_at ? mission.created_at|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mission.updated_at ? mission.updated_at|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mission.date_end ? mission.date_end|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('front_mission_show', {'id': mission.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Pas encore de mission</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('front_mission_new') }}">Créer une mission</a>
{% endblock %}
