<!DOCTYPE html>

<title>Missions</title>

{% block body %}
    <h1>Vos missions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Rue</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>Result</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.name }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.rue }}</td>
                <td>{{ mission.ville }}</td>
                <td>{{ mission.cp }}</td>
                <td>{{ mission.result }}</td>
                <td>{{ mission.status }}</td>
                <td>{{ mission.createdAt ? mission.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mission.updatedAt ? mission.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('front_mission_show', {'id': mission.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Pas encore de mission</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('front_mission_new') }}">Créer une mission</a>
{% endblock %}
