{% extends 'base_back.html.twig' %}

{% block title %}Liste des missions{% endblock %}

{% block body %}
    <h1 class="text-3xl text-black pb-6">Les missions</h1>

    <div class="w-full mt-12">
        <div class="flex flex-wrap -mx-3">
            <div class="flex-none w-full max-w-full px-3">
                <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border shadow-lg">
                    <div class="p-6 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                        <h6>La liste des missions</h6>
                    </div>

                    <!-- component -->
                    <div class="overflow-x-auto rounded-lg border border-gray-200 shadow-md m-5">
                        <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Nom</th>
                                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Créer le</th>
                                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Terminé le</th>
                                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Description</th>
                                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Localisation</th>
                                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Résultat</th>
                                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Type mission</th>
                                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Héro</th>
                                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Status</th>
                                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">actions</th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                                {% for mission in missions %}
                                    <tr class="hover:bg-gray-50">
                                        <td class="px-6 py-4">{{ mission.name }}</td>
                                        <td class="px-6 py-4">{{ mission.createdAt |date('d-m-Y') }}</td>
                                        <td class="px-6 py-4">{{ mission.dateEnd |date('d-m-Y') }}</td>
                                        <td class="px-6 py-4">{{ mission.description }}</td>
                                        <td class="px-6 py-4">{{ mission.location }}</td>
                                        <td class="px-6 py-4">{{ mission.result }}</td>
                                        <td class="px-6 py-4">{{ mission.missionType }}</td>
                                        <td class="px-6 py-4">
                                            {% if mission.hero %} 
                                                {{ mission.hero.name }} 
                                            {% endif %}
                                        </td>
                                        <td class="px-6 py-4">{{ mission.status }}</td>
                                        <td class="px-6 py-4">
                                            <a href="{{ path('back_mission_edit', {'id': mission.id}) }}">Modifier</a>
                                            {{ include('back/mission/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="11">Pas encore de missions</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="max-w-sm w-48 bg-white rounded-2xl overflow-hidden shadow-lg">
                    <div class="px-6 py-4">
                        <a href="{{ path('back_mission_new') }}" class="no-underline hover:underline ...">Créer une mission</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}