{% extends 'base_back.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
   <!-- Statistics Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 p-4 gap-4">
        <div class="bg-blue-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
        <div class="flex justify-center items-center w-14 h-14 bg-white text-black rounded-full transition-all duration-300 transform group-hover:rotate-12">
            <i class="fas fa-users"></i>
        </div>
        <div class="text-right">
            <p class="text-2xl">{{ users|length }}</p>
            <p>Utilisateurs</p>
        </div>
        </div>
        <div class="bg-blue-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
        <div class="flex justify-center items-center w-14 h-14 bg-white text-black rounded-full transition-all duration-300 transform group-hover:rotate-12">
            <i class="fas fa-calendar"></i>
        </div>
        <div class="text-right">
            <p class="text-2xl">{{ all_events|length }}</p>
            <p>Évènements</p>
        </div>
        </div>
        <div class="bg-blue-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
        <div class="flex justify-center items-center w-14 h-14 bg-white text-black rounded-full transition-all duration-300 transform group-hover:rotate-12">
            <i class="fas fa-list"></i>
        </div>
        <div class="text-right">
            <p class="text-2xl">{{ missions|length }}</p>
            <p>Missions</p>
        </div>
        </div>
    </div>
    <!-- ./Statistics Cards -->

    <!-- External resources -->
    <div class="mt-8 mx-4">
        <div class="bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
            <div class="flex items-center justify-between mb-4">
            <h3 class="text-xl font-bold leading-none text-gray-900">Derniers utilisateurs (30 jours)</h3>
            <a href="/admin/user" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">Voir tout</a>
            </div>
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
                <div class="w-full overflow-x-auto">
                <table class="w-full">
                    <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">Nom</th>
                        <th class="px-4 py-3">Prénom</th>
                        <th class="px-4 py-3">Email</th>
                        <th class="px-4 py-3">Roles</th>
                        <th class="px-4 py-3">Créé à</th>
                        <th class="px-4 py-3">Modifié à</th>
                        <th class="px-4 py-3">Vérifié</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                        {% for lastest_user in lastest_users %}
                            <tr class="hover:bg-gray-50">
                                <td class="px-6 py-4">{{ lastest_user.lastname }}</td>
                                <td class="px-6 py-4">{{ lastest_user.firstname }}</td>
                                <td class="px-6 py-4">{{ lastest_user.email }}</td>
                                <td class="px-6 py-4">{{ lastest_user.roles ? lastest_user.roles|json_encode : '' }}</td>
                                <td class="px-6 py-4">{{ lastest_user.createdAt|date('d-m-Y H:i:s') }}</td>
                                <td class="px-6 py-4">{{ lastest_user.updatedAt|date('d-m-Y H:i:s') }}</td>
                                <td class="px-6 py-4">{{ lastest_user.isVerified ? 'Oui' : 'Non'}}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">Pas de nouvel utilisateur</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
