+<div class="mail-template" id="mission-assigned">
+    <h2>Cher {{hero.name}},</h2>
+    <p>
+        Vous avez été assigné à une mission.
+    </p>
+    <p>
+        <strong>Titre de la mission</strong>: {{mission.title}}
+    </p>
+    <p>
+        <strong>Description de la mission</strong>: {{mission.description}}
+    </p>
+    <p>
+        <strong>Demandé par</strong>: {{mission.user.firstname}} {{mission.user.lastname}}
+    </p>
+    <p>
+        <strong>Pour plus d'informations, rendez-vous sur votre <a href="www.herocall.fr">espace personnel</a></strong>
+    </p>
+    <p>
+        <strong>À bientôt sur Herocall</strong>
+    </p>
+</div>
+ 
